<!DOCTYPE html>
<html>
<head>
	<title>something</title>
</head>
<body>

<!--
<table border="1" width="600">
<tr>
<td>signal list</td>
</tr>

{% for y in y %}
<tr>
<td>{{ y }}</td>
</tr>
{% endfor %}

</table>
<img src='data:image/png;base64,{{ chart }}' alt="" id="img">
-->

	{% block content %}
		<h1>Hello puli</h1>
	

		{% if user.is_authenticated %}
		<h1>Hello {{user.username}}</h1>
		<a href="/logout">logout</a><br>
		<a href="/pythoncharts">Generate SPM chart</a>
		{% else %}
		<a href="/login">Login</a>
		<a href="/register">Register</a>
		{% endif %}
	{% endblock %}

</body>
</html>